<div class="footer">
  <div fxFlex="20" fxLayoutAlign="start center">
    <img src="/assets/americold_logo.png" class="img" >
  </div>
  <div class="footer-text">
    <div class="options text-center">
      <span><a href={{americold_page}} target=_blank>Americold.com</a></span>
      <span>    |    </span>
      <span><a href={{companyInfo}} target=_blank>Company Info</a></span>
      <span>    |    </span>
      <span><a href={{edi_Link}} target=_blank>Become an EDI Trading Partner</a></span>
      <span>    |    </span>
      <span><a href={{userAgmtLink}} target=_blank>User Agreement</a></span>
    </div>
    <span>
            <small class="copyright">Copyright 2015 Americold Logistics LLC. All rights reserved. [i-3PL Version: 4.0 (prod)]</small>
        </span>
  </div>
</div>
