/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
  font-family: "open sans", sans-serif;
}

.mat-icon-button .mat-button-wrapper>*{
  vertical-align: top !important;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background{
  background-color: #3798ea;
}

.mat-table {
  font-style: "open sans", sans-serif;
}

td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
  padding-left: 1.25em !important;
}
.mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
  line-height: 0px !important;
  padding: 0px 5px;
}

/* change here  dialog background*/

.mat-dialog-container{
  /* background-color: #f1b861 !important;  */
  padding: 0px !important;
}
.ng-sidebar--right{
  background-color: #ffffff;
  width: 100%;
}
.mat-raised-button{
  line-height:25px !important;
}

.mat-select-value {
  display: table-cell;
  max-width: 0;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  /* margin-top: 21%; */
  white-space: nowrap;
  padding-top: 0%;
  /* padding-bottom: 1%; */
  vertical-align: middle;
  height: 100%  !important;
}

.mat-select-trigger{
  height:100% !important;
}

.mat-select-panel-wrap {
  /* margin-top: 23%; */
  flex-basis: 100%;
}

/*.mat-select-panel:not([class*=mat-elevation-z])  {
  margin-top:2em !important
 margin-top:1em !important
} */

.mat-sort-header-arrow {
  color: #ffffff;
}


.mat-checkbox-layout .mat-checkbox-label {
  line-height: 24px;
  font-size: 0.875em !important;
  font-family: sans-serif;
  font-weight: 600;
}

.mat-optgroup-label {
  font-weight: 600;
}

.mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate {
  background: gray !important;
}

.search_border .mat-select-arrow {
  margin-right: 25px !important;
}

.itemsperPage .mat-select-arrow {
  margin-right: 5px !important;
}

.ng-sidebar__content {
  overflow-y: hidden !important;
  position: inherit !important;
}

button.logout {
  width: 100%;
  background: #959595;
  padding: 17px 25px;
  color: #fff;
  font-size: 18px;
  border: none;
}

@media (min-width: 767px) {
  button.logout {
    position: absolute;
    bottom: 0px;
  }
}

.text-center {
  text-align: center;
}

#tblConsolidation .mat-sort-header-container {
  display: inline-flex !important;
  padding-left: 15px;
}

.p-10 {
  padding: 10px;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .cdk-overlay-pane {
    min-width: 150px !important;
  }
}
